<h1>Sample App</h1>
	<p> This is the home page for the
		<a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application.
	</p>

<% if logged_in? %>
	<%= render 'shared/logged_in' %>
<% else %>
	<%= render 'shared/not_logged_in' %>
<% end %>

